@model DA2_2017_LABCOMPRAS.Models.Despesa
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Produtos</h1>
<form asp-action="NovaDespesa" asp-controller="Despesas" method="post">
    <p>
        <label asp-for="Nome">Nome:</label>
        <input asp-for="Nome" />
    </p>
    <p>
        <label asp-for="Quantidade">Quantidade:</label>
        <input asp-for="Quantidade" value="1" />
    </p>
    <p>
        <label asp-for="valor">preço:</label>
        <input asp-for="valor" />
    </p>
    <p>
        <label asp-for="Categoria">Categoria:</label>
        <select asp-for="Categoria">
            <option value="Alimentar">Alimentar</option>
            <option value="roupa">Roupa</option>
            <option value="Transporte">Transporte</option>
            <option value="Casa">Casa</option>
            <option value="Pessoal">Pessoal</option>
        </select>
    </p>

    <input type="submit" value="Enviar" />
</form>
     