@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{@Model DA2_2017_LABCOMPRAS.Models.Despesa
}
<div class="jumbotron">
    <div class="container text-center">
        <p>@ViewBag.Title Despesa</p>
        <a asp-action="Index">Home</a>
    </div>
</div>